{% extends "base.html" %}

{% set meta_description = "How to use Super Gel, the product of AL Dhaifani Trading and Investment SPC Co." %}

{% block title %}Super Gel - How to Use{% endblock %}

{% block page_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/how_to_use-style.css') }}" />
{% endblock %}

{% set active_page = "how_to_use" -%}

{% block page_body %}
<!-- Hero -->
<div class="header">
  <div class="header-container container">
    <div class="row text-center">
      <div class="col">
        <h4>How to Use Super Gel</h4>
        <h5>A Comprehensive Guide</h5>
      </div>
    </div>
  </div>
</div>
<!-- How to Use -->
<div class="container how_to_use-container">
  <p class="how_to_use_intro_text">
    Welcome to the world of Super Gel by Al Dhaifani Trading and
    Investment Co., the pinnacle of precision pest control. This
    comprehensive guide ensures you harness the full potential of Super
    Gel for effective pest elimination while promoting environmental
    responsibility. Super Gel, proudly an Omani product manufactured
    locally, is not only a safe solution for the environment but also a
    superior replacement for traditional spraying methods.
  </p>

  <div class="container accordion-container">
    <div class="accordion accordion-flush" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            1. Introduction to Super Gel
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="accordion-body-intro">
              Super Gel, the flagship product of AL Dhaifani Trading and
              Investment Co., represents an advanced and environmentally
              safe solution that is precisely designed to combat
              cockroaches and ants with unparalleled effectiveness. Unlike
              traditional methods of pest control, Super Gel offers a
              unique formula that combines effectiveness and environmental
              friendliness, providing users with a superior alternative in
              the battle against insect infestations.
            </p>
            <div class="accordion" id="accordionExampleOne">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOneOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOneOne" aria-expanded="false" aria-controls="collapseOneOne">
                    Ingredients
                  </button>
                </h2>
                <div id="collapseOneOne" class="accordion-collapse collapse" aria-labelledby="headingOneOne"
                  data-bs-parent="#accordionExampleOne">
                  <div class="accordion-body">
                    <strong>0.110%</strong> Active Ingredient
                    (<em>Firponil</em>)
                    <br />
                    <strong>99.89%</strong> Inert Ingredient
                  </div>
                </div>
              </div>
            </div>
            <p>
              <br /><strong>Caution:</strong> Public Health insecticide.
              <br />
              The gel, intelligently packed in a convenient syringe,
              allows simple, precise, and targeted application. This
              user-friendly design ensures that the user, whether an
              ordinary person or a professional, can easily apply the gel
              in specific areas without the mess associated with the
              traditional spraying methods. Super Gel is not only
              considered a pest control product; it is also a proof of
              innovation, offering a smooth experience in pest eradication
              while minimizing environmental impact.
            </p>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. Hazardous and Toxicity Information
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion" id="accordionExampleTwo">
              <div class="accordion-item">
                <h2 class="accordion-header table-responsive" id="headingTwoOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwoOne" aria-expanded="false" aria-controls="collapseTwoOne">
                    Warnings
                  </button>
                </h2>
                <div id="collapseTwoOne" class="accordion-collapse collapse" aria-labelledby="headingTwoOne"
                  data-bs-parent="#accordionExampleTwo">
                  <div class="accordion-body">
                    Toxic to aquatic life.
                    <br />
                    Harmful to aquatic life with long lasting effects.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header table-responsive" id="headingTwoTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwoTwo" aria-expanded="false" aria-controls="collapseTwoTwo">
                    Hazard Classification
                  </button>
                </h2>
                <div id="collapseTwoTwo" class="accordion-collapse collapse" aria-labelledby="headingTwoTwo"
                  data-bs-parent="#accordionExampleTwo">
                  <div class="accordion-body table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Hazards</th>
                          <th scope="col">Effect</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Health Hazards</td>
                          <td>None</td>
                        </tr>
                        <tr>
                          <td>Physical Hazards</td>
                          <td>None</td>
                        </tr>
                        <tr>
                          <td>Environmental Hazards</td>
                          <td>Hazardous to the Aquatic Environment</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwoThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwoThree" aria-expanded="false" aria-controls="collapseTwoThree">
                    Toxicological Information
                  </button>
                </h2>
                <div id="collapseTwoThree" class="accordion-collapse collapse" aria-labelledby="headingTwoThree"
                  data-bs-parent="#accordionExampleTwo">
                  <div class="accordion-body table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Type</th>
                          <th scope="col">Effect</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Eye Irritation</td>
                          <td>Minimally Irritating</td>
                        </tr>
                        <tr>
                          <td>Skin Irritation</td>
                          <td>Slightly Irritating</td>
                        </tr>
                        <tr>
                          <td>Skin sensitivity</td>
                          <td>Not a contact sensitizer</td>
                        </tr>
                        <tr>
                          <td>Reproductive Toxicity</td>
                          <td>
                            No evidence that the active ingredient causes
                            reproductive toxicity.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3. How Super Gel Works
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Super Gel uses a dual-action mechanism to treat existing pest
            infestations and prevent future invasions. The unique
            composition disrupts the usual sites and places of cockroaches
            and ants, gradually eliminating existing pest infestations. At
            the same time, the gel creates a powerful protective barrier,
            acting as a powerful buffer that deters new pests from
            establishing new colonies.
            <br />
            <br />
            Unlike conventional sprays that may dissipate quickly, Super
            Gel’s continuous defense ensures long-lasting protection. Such
            constant work distinguishes it from traditional methods. It
            reduces the need for repeated reapplications. By choosing
            Super Gel, users consider that they are adopting an advanced
            solution made locally, which is not only superior to
            traditional methods but also contributes to a cleaner and
            safer environment, consistent with the principles of
            sustainability and national pride.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            4. Where to Apply Super Gel
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion" id="accordionExampleFour">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFourOne" aria-expanded="false" aria-controls="collapseFourOne">
                    Domestic Use
                  </button>
                </h2>
                <div id="collapseFourOne" class="accordion-collapse collapse" aria-labelledby="headingFourOne"
                  data-bs-parent="#accordionExampleFour">
                  <div class="accordion-body">
                    <ul>
                      <li>
                        Focus on kitchens and bathrooms, placing drops
                        behind and under appliances and places such as
                        stoves, refrigerators, dishwashers, washing
                        machines, sinks, and water pipes.
                      </li>
                      <li>
                        Apply the gel in cracks, crevices, gaps, corners
                        of cupboards and cabinets, and closets, drawers,
                        shelves, and door frames
                      </li>
                      <li>
                        For drawers, remove them and put the gel in the
                        corners before putting them back in.
                      </li>
                      <li>
                        Other places where it is advisable to apply the
                        gel include garbage rooms, dressing rooms,
                        toilets, cabinets for storing household items such
                        as brooms, ...etc.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFourTwo" aria-expanded="false" aria-controls="collapseFourTwo">
                    Food and Feed Establishments
                  </button>
                </h2>
                <div id="collapseFourTwo" class="accordion-collapse collapse" aria-labelledby="headingFourTwo"
                  data-bs-parent="#accordionExampleFour">
                  <div class="accordion-body">
                    <ul>
                      <li>
                        The use is through the application to the cracks
                        and cervices where the food is received, stored,
                        or packed.
                      </li>
                      <li>
                        Avoid application on exposed surfaces for serving
                        food and in areas where food is processed and
                        prepared.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            5. How to Apply Super Gel
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ol>
              <li>
                Remove the cap from the syringe and place it on the side
                to cover the syringe after use.
              </li>
              <li>
                Place small drops of 0.25g to 2g, depending on the degree
                of infestation and the type of cockroaches and ants in the
                targeted areas.
              </li>
              <li>
                iii. If high pest activity after a few days, especially if
                small roaches appear (born from previously laid eggs), are
                observed in abundance, reapply the gel without removing
                what was previously applied.
              </li>
              <li>
                iv. Do not remove the Super Gel paste from wherever it was
                applied because its effectiveness is long and it serves as
                a shield against the spread of cockroaches and ants that
                may come from outside.
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            6. Caring for the Environment and Syringe Disposal
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="accordion" id="accordionExampleSix">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSixOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSixOne" aria-expanded="false" aria-controls="collapseSixOne">
                    Environmental Responsibility
                  </button>
                </h2>
                <div id="collapseSixOne" class="accordion-collapse collapse" aria-labelledby="headingSixOne"
                  data-bs-parent="#accordionExampleSix">
                  <div class="accordion-body">
                    Super Gel is designed with eco-friendly formulations.
                    <br />Use it judiciously to minimize its environmental
                    impact.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSixTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSixTwo" aria-expanded="false" aria-controls="collapseSixTwo">
                    Proper Syringe Disposal
                  </button>
                </h2>
                <div id="collapseSixTwo" class="accordion-collapse collapse" aria-labelledby="headingSixTwo"
                  data-bs-parent="#accordionExampleSix">
                  <div class="accordion-body">
                    <ul>
                      <li>
                        After use, ensure the syringe cap is securely
                        placed.
                      </li>
                      <li>
                        If there is any unused product left in the
                        syringe, it is advisable to use it in other areas
                        or keep it for future use to reduce waste.
                      </li>
                      <li>
                        Put the sealed syringe in a plastic bag, close it
                        tightly, and dispose of it in your regular trash,
                        carefully separating it from recyclables.
                      </li>
                      <li>
                        Be aware of the local legislation for the disposal
                        of certain products in some areas.
                      </li>
                      <li>
                        Do not empty the syringe or its contents into the
                        toilet, drain, or sink; this helps to avoid any
                        environmental impact and ensure proper waste
                        management.
                      </li>
                      <li>
                        Keep any unused leftover syringes in a safe place
                        out of the reach of children and pets, and follow
                        any additional storage recommendations provided on
                        the product packaging.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    <br />
    <br />
    By following this comprehensive guide, you maximize the efficacy of
    Super Gel while contributing to a cleaner, pest-free environment with
    a minimal environmental footprint.
    <br />
    <br />
    Toxicity class: &#8544;&#8544;&#8544;
  </p>
</div>

{% endblock %}

{% block scripts %}
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/how_to_use.js') }}"></script>
{% endblock %}